.div-account {
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

.div-border {
    border: solid;
    border-width: 3px;
    border-color: #fff;
    border-radius: 5px;
}

.icon-inside-chart {
    position: absolute;
    margin-top: 32px;
    margin-left: 28px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    border-style: none;
    font-size: 32px;
}


.fa-money-inside-chart {
    .icon-inside-chart;
    margin-left: 31px;
}

.fa-bank-inside-chart {
    .icon-inside-chart;
    margin-top: 31px;
    margin-left: 31px;
}

.fa-cc-visa-inside-chart {
    .icon-inside-chart;
}

.fa-cc-mastercard-inside-chart {
    .icon-inside-chart;
}

.fa-cc-paypal-inside-chart {
    .icon-inside-chart;
}

.fa-question-inside-chart {
    .icon-inside-chart;
}
