
@color-bg-page-00: #374046;
@color-bg-page-01: transparent;
@color-bg-page-02: #374046; //#f1dede;
@color-bg-page-03: #374046; // #bbacc1;
@color-bg-page-04: #374046; //#80727b;
@color-bg-page-05: #374046; // #909580;
@color-bg-page-06: #374046; //#706563;
@color-bg-page-07: #374046; // #ac9fbb;
@color-bg-page-08: #374046; //#ddbdd5;
@color-bg-page-09: #374046; // #896a67;

.page-01-layout {
    left: 0;
    margin-left: 10%;
}

.page-position-layout {
    left: 100%;
    position: absolute;
}

.page {
    position: absolute;
}

#page-00 {
    left: 0;
    background: @color-bg-page-00;
}

#page-01 {
    background-color: @color-bg-page-01;
    .page-01-layout;
}

#page-02 {
    background-color: @color-bg-page-02;
    .page-position-layout;
}

#page-03 {
    background-color: @color-bg-page-03;
    .page-position-layout;
}

#page-04 {
    background-color: @color-bg-page-04;
    .page-position-layout;
}

#page-05 {
    background-color: @color-bg-page-05;
    .page-position-layout;
}

#page-06 {
    background-color: @color-bg-page-06;
    .page-position-layout;
}

#page-07 {
    background-color: @color-bg-page-07;
    .page-position-layout;
}

#page-08 {
    background-color: @color-bg-page-08;
    .page-position-layout;
}

#page-09 {
    background-color: @color-bg-page-09;
    .page-position-layout;
}

.page-header {
    position: fixed;
    display: block;
    top: 0px;
    padding-top: 50px;
    height: 100px;
}
