@padding-page-left: 5%;
@padding-page-right: 5%;
@padding-page-top: 5%;
@padding-page-bottom: 5%;

.section-padding-layout {
    padding-top: @padding-page-top;
    padding-right: @padding-page-right;
    padding-bottom: @padding-page-bottom;
    padding-left: @padding-page-left;
}

section.section-content {
    width: 90%;
    .section-padding-layout;
}

.section-scrollable {
    overflow-y: auto;
}

.section-padding-page {
    padding-left: 10px;
}
