
@color-bg-page-00: #111a2a; //#374046;
@color-bg-page-01: #111a2a; //transparent;
@color-bg-page-02: #111a2a; //#374046; //#f1dede;
@color-bg-page-03: #111a2a; //#374046; // #bbacc1;
@color-bg-page-04: #111a2a; //#374046; //#80727b;
@color-bg-page-05: #111a2a; //#374046; // #909580;
@color-bg-page-06: #111a2a; //#374046; //#706563;
@color-bg-page-07: #111a2a; //#374046; // #ac9fbb;
@color-bg-page-08: #111a2a; //#374046; //#ddbdd5;
@color-bg-page-09: #111a2a; //#374046; // #896a67;

@color-bg-menu: #2f323a;
@color-bg-nav: #2f323a;
@color-bg-header: #ffffff;
@color-bg-main: #edeff5;

@color-bg-menu-active: #5093e1;

@color-header-ref: white;

@color-scrollbar-thumb: #132028;
@color-scrollbar-track: #1C2429;

@color-text-dark: #262730;
@color-text-light: #9ba0b1;
@color-text-red: #912f40;
@color-text-green: #119822;
@color-text-grey: grey;
@color-text-white: #ffffff;

@color-border-dark: #262730;
@color-border-light: #ffffff;

@padding-page-left: 1%;
@padding-page-right: 1%;
@padding-page-top: 5%;
@padding-page-bottom: 1%;

@margin-page-top: 0px;

@color-bg-tile: #e3e4e8;


