<nav class="nav-primary hidden-xs">
    <ul class="nav">
        <li class="active">
            <a onclick="actionHandler($event)">
                <i class="fa fa-plus icon"> <b class="bg-dark"></b> </i>
                <span>Action</span>
            </a>
        </li>
        <li>
            <a href="/Expenses">
                <i class="fa fa-refresh icon"> <b class="bg-warning dker"></b> </i>
                <span>Income and Expences</span>
            </a>
        </li>
        <li>
            <a href="/Budget">
                <i class="fa fa-money icon"> <b class="bg-success dker"></b> </i>
                <span>Budget</span>
            </a>
        </li>
        <li>
            <a href="/Debts">
                <i class="fa fa-pencil icon"> <b class="bg-primary dker"></b> </i>
                <span>Debts</span>
            </a>
        </li>
        <li>
            <a href="/Calendar">
                <i class="fa fa-calendar icon"> <b class="bg-primary"></b> </i>
                <span>Payments Calendar</span>
            </a>
        </li>
        <li>
            <a href="/Analysis">
                <i class="fa fa-bar-chart-o icon"> <b class="bg-primary dker"></b> </i>
                <span>Analysis</span>
            </a>
        </li>
        <li>
            <a href="/Category">
                <i class="fa fa-list icon"> <b class="bg-success "></b> </i>
                <span>Category</span>
            </a>
        </li>
        <li>
            <a href="/Settings">
                <i class="fa fa-gear icon"> <b class="bg-warning"></b> </i>
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="/Help">
                <i class="fa fa-question icon"> <b class="bg-danger "></b> </i>
                <span>Help</span>
            </a>
        </li>
    </ul>
</nav>