<section class="nav-content">
    <ul class="ul-nav">
        <li id="menu-item-01" class="li-nav nav-icon">
            <a href="javascript:void(0)" class="nav-href" data-bind="click : actionClick">
                <i id="menu-item-01-icon" class="nav-icon fa fa-plus cursor-pointer"></i>
                <p id="menu-item-01-text" class="text-small nav-text hint" data-bind="text:actionMenuItemText"></p>
            </a>
        </li>
        <li id="menu-item-02" class="li-nav nav-icon" data-bind="click : transferClick">
            <a href="javascript:void(0)" class="nav-href">
                <i id="menu-item-02-icon" class="nav-icon fa fa-exchange cursor-pointer"></i>
                <p id="menu-item-02-text" class="text-small nav-text hint" data-bind="text:transferMenuItemText"></p>
            </a>
        </li>
        <li id="menu-item-tab-accounts" class="li-nav nav-icon">
            <a href="#tab-accounts" class="nav-href">
                <i id="menu-item-tab-accounts-icon" class="nav-icon fa fa-credit-card cursor-pointer"></i>
                <p id="menu-item-tab-accounts-text" class="text-small nav-text hint">Accounts</p>
            </a>
        </li>
        <li id="menu-item-tab-transactions" class="li-nav nav-icon">
            <a href="#tab-transactions" class="nav-href">
                <i id="menu-item-tab-transactions-icon" class="nav-icon fa fa-history cursor-pointer"></i>
                <p id="menu-item-tab-transactions-text" class="text-small nav-text hint">Transactions</p>
            </a>
        </li>
        <li id="menu-item-tab-budget" class="li-nav nav-icon">
            <a href="#tab-budget" class="nav-href">
                <i id="menu-item-tab-budget-icon" class="nav-icon fa fa-edit cursor-pointer"></i>
                <p id="menu-item-tab-budget-text" class="text-small nav-text hint">Budget</p>
            </a>
        </li>
        <li id="menu-item-tab-analysis" class="li-nav nav-icon">
            <a href="#tab-analysis" class="nav-href">
                <i id="menu-item-tab-analysis-icon" class="nav-icon fa fa-pie-chart cursor-pointer"></i>
                <p id="menu-item-tab-analysis-text" class="text-small nav-text hint">Analysis</p>
            </a>
        </li>
        <li id="menu-item-tab-categories" class="li-nav nav-icon">
            <a href="#tab-categories" class="nav-href">
                <i id="menu-item-tab-categories-icon" class="nav-icon fa fa-list cursor-pointer"></i>
                <p id="menu-item-tab-categories-text" class="text-small nav-text hint">Categories</p>
            </a>
        </li>
        <li id="menu-item-tab-settings" class="li-nav nav-icon">
            <a href="#tab-settings" class="nav-href">
                <i id="menu-item-tab-settings-icon" class="nav-icon fa fa-gear cursor-pointer"></i>
                <p id="menu-item-tab-settings-text" class="text-small nav-text hint">Settings</p>
            </a>
        </li>
        <li id="menu-item-tab-help" class="li-nav nav-icon">
            <a href="#tab-help" class="nav-href">
                <i id="menu-item-tab-help-icon" class="nav-icon fa fa-question cursor-pointer"></i>
                <p id="menu-item-tab-help-text" class="text-small nav-text hint">Help</p>
            </a>
        </li>
    </ul>
</section>