<section>
    <ul>
        <a href="#tab-main"><li id="menu-item-01" class="menu-icon fa fa-plus" data-bind="click : actionClick"><p class="hint" data-bind="text:title"></p></li></a>
        <a href="#tab-expenses"><li id="menu-item-02" class="menu-icon fa fa-refresh"><p class="hint">Income and Expenses</p></li></a>
        <a href="#tab-budget"><li id="menu-item-03" class="menu-icon fa fa-money"><p class="hint">Budget</p></li></a>
        <a href="#tab-debts"><li id="menu-item-04" class="menu-icon fa fa-dribbble"><p class="hint">Debts</p></li></a>
        <a href="#tab-calendar"><li id="menu-item-05" class="menu-icon fa fa-calendar"><p class="hint">Calendar</p></li></a>
        <a href="#tab-analysis"><li id="menu-item-06" class="menu-icon fa fa-bar-chart-o"><p class="hint">Analysis</p></li></a>
        <a href="#tab-category"><li id="menu-item-07" class="menu-icon fa fa-list"><p class="hint">Categories</p></li></a>
        <a href="#tab-settings"><li id="menu-item-08" class="menu-icon fa fa-gear"><p class="hint">Settings</p></li></a>
        <a href="#tab-help"><li id="menu-item-1=09" class="menu-icon fa fa-question"><p class="hint">Help</p></li></a>
    </ul>
</section>