<div>
    <!--slider menu-->
    <div class="sidebar-menu">
        <div class="logo">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
                <span id="logo"></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </div>
        <div class="menu">
            <ul id="menu" class="nav nav-stacked">
                <li id="menu-action"><a href="index.html"><i class="fa fa-plus fa-pull-left "></i><span class="fa-pull-left fa-left-padding">Action</span></a><span class="clearfix" /></li>
                <li id="menu-inout"><a href="#"><i class="fa fa-history pull-left"></i><span class="fa-pull-left fa-left-padding">Income/Outcome</span></a><span class="clearfix" /></li>
                <li id="menu-budget"><a href="#"><i class="fa fa-money pull-left"></i><span class="fa-pull-left fa-left-padding">Budget</span></a><span class="clearfix" /></li>
                <li id="menu-debts"><a href="#"><i class="fa fa-bank pull-left"></i><span class="fa-pull-left fa-left-padding">Debts</span></a><span class="clearfix" /></li>
                <li id="menu-analysis"><a href="#"><i class="fa fa-bar-chart pull-left"></i><span class="fa-pull-left fa-left-padding">Analysis</span></a><span class="clearfix" /></li>
                <li id="menu-category"><a href="#"><i class="fa fa-indent pull-left"></i><span class="fa-pull-left fa-left-padding">Categories</span></a><span class="clearfix" /></li>
                <li id="menu-settings"><a href="#"><i class="fa fa-gears pull-left"></i><span class="fa-pull-left fa-left-padding">Settings</span></a><span class="clearfix" /></li>
                <li id="menu-help"><a href="#"><i class="fa fa-question pull-left"></i><span class="fa-pull-left fa-left-padding">Help</span></a><span class="clearfix" /></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>