<div class="sidebar-collapsed-back" id="menuContainerDiv">
    <!--slider menu-->
    <div class="sidebar-menu">
        <div class="logo">
            <a href="#" class="sidebar-icon" id="colapseMenuButton"> <span class="fa fa-bars"></span> </a> <a href="#">
                <span id="logo"></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </div>
        <div class="menu">
            <ul id="menu" class="nav nav-stacked">
                <li id="menu-action"><a href="#/action"><i class="fa fa-plus fa-icon-box fa-pull-left "></i><span class="fa-pull-left  fa-left-padding-15">Action</span></a><span class="clearfix" /></li>
                <li id="menu-inout"><a href="#/inout"><i class="fa fa-history fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Income/Outcome</span></a><span class="clearfix" /></li>
                <li id="menu-budget"><a href="#"><i class="fa fa-money fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Budget</span></a><span class="clearfix" /></li>
                <li id="menu-debts"><a href="#"><i class="fa fa-bank fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Debts</span></a><span class="clearfix" /></li>
                <li id="menu-analysis"><a href="#"><i class="fa fa-bar-chart fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Analysis</span></a><span class="clearfix" /></li>
                <li id="menu-category"><a href="#"><i class="fa fa-indent fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Categories</span></a><span class="clearfix" /></li>
                <li id="menu-settings"><a href="#"><i class="fa fa-gears fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Settings</span></a><span class="clearfix" /></li>
                <li id="menu-help"><a href="#"><i class="fa fa-question fa-icon-box pull-left"></i><span class="fa-pull-left  fa-left-padding-15">Help</span></a><span class="clearfix" /></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>