<!--<div class="btn-group">-->
<button type="button" class="btn btn-sm btn-default btn-dark btn-icon"><i class="fa"></i></button>
<div class="btn-group hidden-nav-xs">
    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
        Switch Application
        <span class="caret"></span>
    </button> <ul class="dropdown-menu text-left">
        <li><a href="#">Personal Finanace</a></li>
        <li><a href="#">Payments Calendar</a></li>
        <li><a href="#">Personal Discounts</a></li>
    </ul>
</div>
<!--</div>-->